<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FB2" type="FB2Toolbox.FB2ConfigurationSection, FB2Toolbox" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FB2Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <FB2 normalizeNames="true">
    <renameProfiles>
      <!--
      Список элементов, которые можно использовать в профилях для переименования файлов:
      (Title)
      (Genre)
      (AuthorFirstName)
      (AuthorLastName)
      (AuthorMiddleName)
      (AuthorFirstNameI)
      (AuthorLastNameI)
      (AuthorMiddleNameI)
      (TranslatorFirstName)
      (TranslatorLastName)
      (TranslatorMiddleName)
      (TranslatorFirstNameI)
      (TranslatorLastNameI)
      (TranslatorMiddleNameI)
      (SequenceName)
      (SequenceNr)
      (Lang)
      -->
      <!-- Пользовательские профили (размещайте свои профили здесь) -->
      <!-- profile name="Пример"
        path="(AuthorLastName)|, (AuthorFirstName)|\(SequenceName)"
        fileName="(AuthorLastName)| (AuthorFirstName)| - (SequenceName)| (SequenceNr)| - (Title)"
      /-->
      <!-- Окончание пользовательских профилей -->
		<profile name="! - Серия/Номер - Автор - Название (пер Переводчик)" path="! - (SequenceName)" fileName="(SequenceNr) |(AuthorLastName)| (AuthorFirstName)| - (Title)| (пер (TranslatorLastName))" />
		<profile name="Жанр/Автор/Серия/Номер - Название (пер Переводчик)" path="(Genre)|\(AuthorLastName)| (AuthorFirstName)|\(SequenceName)" fileName="(SequenceNr) - |(Title)| (пер (TranslatorLastName))" />
		<profile name="Автор/Серия/Автор - Серия Номер - Название" path="(AuthorLastName)|, (AuthorFirstName)|\(SequenceName)" fileName="(AuthorLastName)| (AuthorFirstName)| - (SequenceName)| (SequenceNr)| - (Title)" />
		<profile name="Автор/Серия/Автор - Серия Номер - Название (пер Переводчик)" path="(AuthorLastName)|, (AuthorFirstName)|\(SequenceName)" fileName="(AuthorLastName)| (AuthorFirstName)| - (SequenceName)| (SequenceNr)| - (Title)| (пер (TranslatorLastName))" />
        <profile name="Жанр/Автор/Серия/Автор - Серия Номер - Название" path="(Genre)|\(AuthorLastName)|, (AuthorFirstName)|\(SequenceName)" fileName="(AuthorLastName)| (AuthorFirstName)| - (SequenceName)| (SequenceNr)| - (Title)" />
        <profile name="Жанр/Автор/Серия/Автор - Серия Номер - Название (пер Переводчик)" path="(Genre)|\(AuthorLastName)|, (AuthorFirstName)|\(SequenceName)" fileName="(AuthorLastName)| (AuthorFirstName)| - (SequenceName)| (SequenceNr)| - (Title)| (пер (TranslatorLastName))" />
        <profile name="А/Автор/Серия/Автор - Серия Номер - Название" path="(AuthorLastName1)|\(AuthorLastName)|, (AuthorFirstName)|\(SequenceName)" fileName="(AuthorLastName)| (AuthorFirstName)| - (SequenceName)| (SequenceNr)| - (Title)" />
        <profile name="(В один каталог) Автор - Серия Номер - Название" path="" fileName="(AuthorLastName)| (AuthorFirstName)| - (SequenceName)| (SequenceNr)| - (Title)" />
        <globalTranslit>
        <char from="а" to="a" />
        <char from="б" to="b" />
        <char from="в" to="v" />
        <char from="г" to="g" />
        <char from="д" to="d" />
        <char from="е" to="e" />
        <char from="ё" to="yo" />
        <char from="ж" to="zh" />
        <char from="з" to="z" />
        <char from="и" to="i" />
        <char from="й" to="i" />
        <char from="к" to="k" />
        <char from="л" to="l" />
        <char from="м" to="m" />
        <char from="н" to="n" />
        <char from="о" to="o" />
        <char from="п" to="p" />
        <char from="р" to="r" />
        <char from="с" to="s" />
        <char from="т" to="t" />
        <char from="у" to="u" />
        <char from="ф" to="f" />
        <char from="х" to="kh" />
        <char from="ц" to="c" />
        <char from="ч" to="ch" />
        <char from="ш" to="sch" />
        <char from="щ" to="sh" />
        <char from="ъ" to="" />
        <char from="ы" to="y" />
        <char from="ь" to="" />
        <char from="э" to="e" />
        <char from="ю" to="yu" />
        <char from="я" to="ya" />
        <char from="А" to="A" />
        <char from="Б" to="B" />
        <char from="В" to="V" />
        <char from="Г" to="G" />
        <char from="Д" to="D" />
        <char from="Е" to="E" />
        <char from="Ё" to="Yo" />
        <char from="Ж" to="Zh" />
        <char from="З" to="Z" />
        <char from="И" to="I" />
        <char from="Й" to="I" />
        <char from="К" to="K" />
        <char from="Л" to="L" />
        <char from="М" to="M" />
        <char from="Н" to="N" />
        <char from="О" to="O" />
        <char from="П" to="P" />
        <char from="Р" to="R" />
        <char from="С" to="S" />
        <char from="Т" to="T" />
        <char from="У" to="U" />
        <char from="Ф" to="F" />
        <char from="Х" to="Kh" />
        <char from="Ц" to="C" />
        <char from="Ч" to="Ch" />
        <char from="Ш" to="Sch" />
        <char from="Щ" to="Sh" />
        <char from="Ъ" to="" />
        <char from="Ы" to="Y" />
        <char from="Ь" to="" />
        <char from="Э" to="E" />
        <char from="Ю" to="Yu" />
        <char from="Я" to="Ya" />
      </globalTranslit>
      <globalCharacterSubstitution>
        <char from="&lt;" to="" />
        <char from="&gt;" to="" />
        <char from=":" to=" " />
        <char from=";" to="" />
        <char from="+" to="" />
        <char from="«" to="" />
        <char from="»" to="" />
        <char from="“" to="" />
        <char from="”" to="" />
        <char from="`" to="" />
        <char from="'" to="" />
        <char from="|" to="" />
        <char from="&quot;" to="" />
        <char from="?" to="" />
		  <!--char from="!" to="" /-->
        <char from="*" to="" />
        <char from="…" to="" />
        <char from="." to="" />
        <char from="—" to="-" />
        <char from="ё" to="е" />
        <char from="&amp;" to="" />
        <char from="{" to="" />
        <char from="}" to="" />
        <char from="^" to="" />
        <char from="$" to="" />
        <char from="%" to="" />
        <char from="#" to="" />
        <char from="€" to="" />
        <char from="£" to="" />
		<char from="…" to="" />
        <char from="№" to="номер" />
        <char from="  " to=" " repeat="3" />
      </globalCharacterSubstitution>
    </renameProfiles>
    <!--
      Список кодировок для меню "Перекодировать в..."
      
      Список можно изменять, сокращать, расширять. Пользоваться экзотическими кодировками не
      рекомендуется, так как не все читалки корректно работают с XML.
      
      Например можно добавить следующие кодировки:

      Русский (Windows)
      <encoding name="windows-1251"/>
      
      Западная Европа (Windows)
      <encoding name="windows-1252"/>
      
      Юникод (8-битный)
      <encoding name="utf-8"/>
      
      Юникод (16-битный)
      <encoding name="utf-16"/>
      
      Русский КОИ-8 (Unix)
      <encoding name="KOI8-R"/>
    
      Русский (DOS)
      <encoding name="cp866"/>
      
      Иврит (Windows)
      <encoding name="windows-1255"/>
    -->
    <encodings indentedFormatting="true" compressionEncoding="utf-8">
      <encoding name="windows-1251" />
      <encoding name="utf-8" />
      <encoding name="utf-16" />
      <encoding name="windows-1252" />
    </encodings>
    <!--
      Список комманд для файлов...
    -->
    <commands>
      <checkedFiles>
        <command name="Конвертировать FB2 в EPUB" fileName="Fb2ePub.exe" arguments="&quot;{0}&quot;" onlyWithExtension=".fb2" createNoWindow="true" />
      </checkedFiles>
      <focusedFile>
		  <command name="Открыть в FbReader" fileName="FbReader.exe" arguments="&quot;{0}&quot;" waitAndReload="false" />
		  <command name="Открыть в Cool Reader 3" fileName="cr3.exe" arguments="&quot;{0}&quot;" waitAndReload="false" />
		  <command name="Редактирвоать в Fb2Edit" fileName="fb2edit.exe" arguments="&quot;{0}&quot;" waitAndReload="false" />
		  <command name="Редактирвоать в Notepad++" fileName="Notepad++.exe" arguments="&quot;{0}&quot;" waitAndReload="false" />
	  </focusedFile>
    </commands>
    <!--
      Список для автоматической замены жанров.
    -->
    <genreSubstitution>
      <genre from="sf_cyberpunk" to="Киберпанк" />
      <genre from="sf" to="Фантастика" />
      <genre from="sf_history" to="Фантастика (альтернативная история)" />
      <genre from="sf_action" to="Фантастика (боевая)" />
      <genre from="sf_heroic" to="Фантастика (героическая)" />
      <genre from="sf_detective" to="Фантастика (детективная)" />
      <genre from="sf_space" to="Фантастика (космическая)" />
      <genre from="sf_social" to="Фантастика (социально-психологическая)" />
      <genre from="sf_fantasy" to="Фантастика (фэнтезийная)" />
      <genre from="sf_epic" to="Фантастика (эпическая)" />
      <genre from="sf_humor" to="Фантастика (юмористическая)" />
      <genre from="sf_horror" to="Фантастика (ужасы и мистика)" />
      <genre from="romance_fantasy" to="Фэнтези (романтическое)" />
      <genre from="romance_sf" to="Фантастика (научная)" />
      <genre from="det_action" to="Боевик" />
      <genre from="det_maniac" to="Маньяки" />
      <genre from="thriller" to="Триллер" />
      <genre from="thriller_mystery" to="Триллер (мистический)" />
      <genre from="detective" to="Детектив" />
      <genre from="det_classic" to="Детектив (классический)" />
      <genre from="det_police" to="Детектив (полицейский)" />
      <genre from="det_irony" to="Детектив (иронический)" />
      <genre from="det_history" to="Детектив (исторический)" />
      <genre from="det_espionage" to="Детектив (шпионский)" />
      <genre from="det_crime" to="Детектив (криминальный)" />
      <genre from="det_political" to="Детектив (политический)" />
      <genre from="det_hard" to="Детектив (жёсткий)" />
      <genre from="prose_classic" to="Проза (классическая)" />
      <genre from="prose_history" to="Проза (историческая)" />
      <genre from="prose_contemporary" to="Проза (современная)" />
      <genre from="prose_counter" to="Проза (контркультура)" />
      <genre from="prose_rus_classic" to="Проза (русская классическая)" />
      <genre from="prose_su_classics" to="Проза (советская классическая )" />
      <genre from="love_contemporary" to="Любовные романы (современные)" />
      <genre from="love_history" to="Любовные романы (исторические)" />
      <genre from="love_detective" to="Любовные романы (остросюжетные)" />
      <genre from="love_short" to="Любовные романы (короткие)" />
      <genre from="love_erotica" to="Любовная эротика" />
      <genre from="adv_western" to="Вестерн" />
      <genre from="adv_history" to="Приключения (исторические)" />
      <genre from="adv_indian" to="Приключения (про индейцев)" />
      <genre from="adv_maritime" to="Приключения (морские)" />
      <genre from="adv_geo" to="Путешествия и география" />
      <genre from="adv_animal" to="Природа и животные" />
      <genre from="adventure" to="Приключения" />
      <genre from="child_tale" to="Детские сказки" />
      <genre from="child_verse" to="Детские стихи" />
      <genre from="child_prose" to="Детская проза" />
      <genre from="child_sf" to="Детская фантастика" />
      <genre from="child_det" to="Детские остросюжетные" />
      <genre from="child_adv" to="Детские приключения" />
      <genre from="child_education" to="Детская образовательная литература" />
      <genre from="children" to="Прочая детская литература" />
      <genre from="poetry" to="Поэзия" />
      <genre from="dramaturgy" to="Драматургия" />
      <genre from="antique_ant" to="Античная литература" />
      <genre from="antique_european" to="Европейская старинная литература" />
      <genre from="antique_russian" to="Древнерусская литература" />
      <genre from="antique_east" to="Древневосточная литература" />
      <genre from="antique_myths" to="Мифы. Легенды. Эпос" />
      <genre from="antique" to="Прочая старинная литература" />
      <genre from="sci_history" to="Наука (история)" />
      <genre from="sci_psychology" to="Наука (психология)" />
      <genre from="sci_culture" to="Наука (культурология)" />
      <genre from="sci_religion" to="Наука (религиоведение)" />
      <genre from="sci_philosophy" to="Наука (философия)" />
      <genre from="sci_politics" to="Наука (политика)" />
      <genre from="sci_business" to="Наука (деловая литература)" />
      <genre from="sci_juris" to="Наука (юриспруденция)" />
      <genre from="sci_linguistic" to="Наука (языкознание)" />
      <genre from="sci_medicine" to="Наука (медицина)" />
      <genre from="sci_phys" to="Наука (физика)" />
      <genre from="sci_math" to="Наука (математика)" />
      <genre from="sci_chem" to="Наука (химия)" />
      <genre from="sci_biology" to="Наука (биология)" />
      <genre from="sci_tech" to="Наука (техника)" />
      <genre from="science" to="Наука (прочее)" />
      <genre from="comp_www" to="Компьютеры (интернет)" />
      <genre from="comp_programming" to="Компьютеры (программирование)" />
      <genre from="comp_hard" to="Компьютеры (железо)" />
      <genre from="comp_soft" to="Компьютеры (программы)" />
      <genre from="comp_db" to="Компьютеры (базы данных)" />
      <genre from="comp_osnet" to="Компьютеры (ОС и сети)" />
      <genre from="computers" to="Компьютеры (прочее)" />
      <genre from="ref_encyc" to="Справочники (энциклопедии)" />
      <genre from="ref_dict" to="Справочники (словари)" />
      <genre from="ref_ref" to="Справочники (справочники)" />
      <genre from="ref_guide" to="Справочники (руководства)" />
      <genre from="reference" to="Справочники (прочее)" />
      <genre from="nonf_biography" to="Биографии и Мемуары" />
      <genre from="nonf_publicism" to="Публицистика" />
      <genre from="nonf_criticism" to="Критика" />
      <genre from="design" to="Искусство и Дизайн" />
      <genre from="nonfiction" to="Прочая документальная литература" />
      <genre from="religion_rel" to="Религия" />
      <genre from="religion_esoterics" to="Эзотерика" />
      <genre from="religion_self" to="Самосовершенствование" />
      <genre from="religion" to="Прочая религионая литература" />
      <genre from="humor_anecdote" to="Анекдоты" />
      <genre from="humor_prose" to="Юмористическая проза" />
      <genre from="humor_verse" to="Юмористические стихи" />
      <genre from="humor" to="Прочий юмор" />
      <genre from="home_cooking" to="Кулинария" />
      <genre from="home_pets" to="Домашние животные" />
      <genre from="home_crafts" to="Хобби и ремесла" />
      <genre from="home_entertain" to="Развлечения" />
      <genre from="home_health" to="Здоровье" />
      <genre from="home_garden" to="Сад и огород" />
      <genre from="home_diy" to="Сделай сам" />
      <genre from="home_sport" to="Спорт" />
      <genre from="home_sex" to="Эротика, Секс" />
      <genre from="home" to="Дом" />
      <genre from="history_russia" to="История (русская)" />
      <genre from="sf_history_avant" to="Фантастика (исторические приключения)" />
      <genre from="literature_adv" to="Литература (приключения)" />
      <genre from="literature_history" to="Литература (история)" />
      <genre from="adv_history_avant" to="Приключения (исторический авангард)" />
      <genre from="love" to="Любовные романы" />
      <genre from="prose" to="Проза" />
      <genre from="other" to="Прочее" />
      <genre from="literature_rus_classsic" to="Литература (проза)" />
    </genreSubstitution>
  </FB2>
  <userSettings>
    <FB2Toolbox.Properties.Settings>
      <setting name="DefaultAddFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultAddFiltesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultCopyToPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultMoveToPath" serializeAs="String">
        <value />
      </setting>
    </FB2Toolbox.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>